{% extends 'base.html' %}

{% block content %}

<div class="form-box">
    <h2>📝 Create Account</h2>

    <form method="POST">

        <!-- FULL NAME -->
        <input type="text" name="name" placeholder="Enter Full Name" required>

        <!-- EMAIL -->
        <input type="email" name="email" placeholder="Enter Email" required>

        <!-- USERNAME -->
        <input type="text" name="username" placeholder="Enter Username" required>

        <!-- PASSWORD -->
        <input type="password" name="password" placeholder="Enter Password" required>

        <!-- SUBMIT -->
        <button type="submit">Register</button>

    </form>

    <!-- LOGIN LINK -->
    <p style="margin-top:15px;">
        Already have an account? 
        <a href="/login">Login here</a>
    </p>
</div>

{% endblock %}